<p>shops works!</p>

<!-- Basic Button -->
<button mat-button>Basic Button</button>
<button mat-stroked-button>Stroked Button</button>
<p-button label="Click Me" icon="pi pi-check"></p-button>

<div class="bg-light-primary rounded p-y-24 p-x-24 m-b-24 overflow-hidden ">
    <div class="d-flex p-y-2">
        <div class="">
            <h4 class="page-title m-0 f-s-20 f-w-600 ">
                Add Client
            </h4>
        </div>
    </div>
</div>

<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
<div class="table-responsive">
    <p-table #dt [value]="dataSource.data" [sortMode]="'multiple'">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3%">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id" style="width: 10%">Employee ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="SurName" style="width: 15%">Surname <p-sortIcon field="SurName"></p-sortIcon></th>
                <th pSortableColumn="FirstName" style="width: 20%">Firstname <p-sortIcon field="FirstName"></p-sortIcon></th>
                <th pSortableColumn="Email" style="width: 20%">Email Address <p-sortIcon field="Email"></p-sortIcon></th>
                <th pSortableColumn="Company" style="width: 15%">Company <p-sortIcon field="Company"></p-sortIcon></th>
                <th pSortableColumn="Verfied" style="width: 10%">Verified <p-sortIcon field="Verfied"></p-sortIcon></th>
                <th style="width: 7%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr>
                <td>
                    <p-tableCheckbox [value]="element"></p-tableCheckbox>
                </td>
                <td>{{ element.id }}</td>
                <td>{{ element.SurName }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" [src]="element.imagePath" width="40" />
                        <div class="m-l-16">
                            <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">{{ element.FirstName }}</p>
                            <small class="mat-body-1 f-s-14">{{ element.Position }}</small>
                        </div>
                    </div>
                </td>
                <td><a [href]="'mailto:' + element.Email">{{ element.Email }}</a></td>
                <td>{{ element.Company }}</td>
                <td>
                    <div class="m-l-16">
                        @if (element.Verfied == true) {
                        <i class="pi pi-check-circle text-success icon-18 d-flex"></i>
                        } @else {
                        <i class="pi pi-times-circle text-error icon-18 d-flex"></i>
                        }
                    </div>
                </td>
                <td>
                    <div class="m-l-16">
                        <a [matMenuTriggerFor]="menu" class="m-r-10 cursor-pointer">
                        
                        </a>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editClient(element.id)">
                            <div class="d-flex align-items-center">
                           
                                <span class="m-l-8">Edit</span>
                            </div>
                        </button>
                        <button mat-menu-item (click)="history(element.id)">
                            <div class="d-flex align-items-center">
                        
                                <span class="m-l-8">History</span>
                            </div>
                        </button>
                        <button mat-menu-item (click)="dataUsage(element.id)">
                            <div class="d-flex align-items-center">
                              
                                <span class="m-l-8">Data Usage [GDPR]</span>
                            </div>
                        </button>
                        <button mat-menu-item>
                            <div class="d-flex align-items-center">
                            
                                <span class="m-l-8">Send Password</span>
                            </div>
                        </button>
                        <button mat-menu-item>
                            <div class="d-flex align-items-center">
                               
                                <span class="m-l-8">Send Username</span>
                            </div>
                        </button>
                        <button mat-menu-item>
                            <div class="d-flex align-items-center">
             
                                <span class="m-l-8">Delete</span>
                            </div>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- PrimeNG Paginator -->
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="pageSizes"
        (onPageChange)="onPageChange($event)">
    </p-paginator>
</div>


</mat-card-content>
</mat-card>